<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <form action="/register" method="post">
        <div class="container">
          <h1>Inscription</h1>
          <p>Remplissez ce formulaire pour vous inscrire</p>
          <hr>
          <label for="prenom"><b>Prénom</b></label>
          <input type="text" placeholder="Entrez votre prénom" name="prenom" required>

          <label for="nom"><b>Nom</b></label>
          <input type="text" placeholder="Entrez votre nom" name="nom" required>

          <label for="login"><b>Nom d'utilisateur</b></label>
          <input type="text" placeholder="Entrez votre nom d'utilisateur" name="login" required>
      
          <label for="mdp"><b>Mot de passe</b></label>
          <input type="password" placeholder="Entre votre mot de passe" name="mdp" required>
      
          <label for="mdp-repeat"><b>Confirmation du mot de passe</b></label>
          <input type="password" placeholder="Confirmer votre mot de passe" name="mdp-repeat" required>
          <hr>
      
          <button type="submit" class="registerbtn">S'inscrire</button>
        </div>
      
        <!-- <div class="container signin">
          <p>Already have an account? <a href="#">Sign in</a>.</p>
        </div> -->
      </form>
</body>
</html>