<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QCM</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <div class="container">
        <h1>QCM Interractif</h1>
        <form action="/question/1/2/3/4/5" method="post">
            <label for="first">Question 5 : que vaut : 2 modulo de 2 ?</label>
            <label for="">1</label>
            <input type="radio" name="fifth" value="1" required>
            <label for="">2</label>
            <input type="radio" name="fifth" value="2">
            <label for="">0</label>
            <input type="radio" name="fifth" value="0">
            <button type="submit">Envoyer</button>
        </form>
    </div>
</body>
</html>