<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QCM</title>
</head>
<body>
    <div class="container">
        <h1>QCM Interractif</h1>
        <form action="/question/1/2" method="post">
            <label for="first">Question 2 : que vaut : 2  multiplé par 2 ?</label>
            <label for="">3</label>
            <input type="radio" name="second" value="3" required>
            <label for="">4</label>
            <input type="radio" name="second" value="4">
            <label for="">6</label>
            <input type="radio" name="second" value="6">
            <button type="submit">Envoyer</button>
        </form>
    </div>
</body>
</html>