<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QCM</title>
</head>
<body>
    <div class="container">
        <h1>QCM Interractif</h1>
        <form action="/question/1/2/3" method="post">
            <label for="first">Question 3 : que vaut : 2 divisé par 2 ?</label>
            <label for="">0</label>
            <input type="radio" name="third" value="0" required>
            <label for="">2</label>
            <input type="radio" name="third" value="2">
            <label for="">1</label>
            <input type="radio" name="third" value="1">
            <button type="submit">Envoyer</button>
        </form>
    </div>
</body>
</html>