<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../views/styles.css">
</head>
<body>
    <header class="header">

        <div class="container">
    
            <div class="box">
    
                <a href="#home" class="logo">Université Paris<span>Expresse</span></a>
    
                <nav class="nav">
                    <a href="#home">home</a>
                    <a href="#about">about</a>
                    <a href="#services">services</a>
                </nav>
                <div id="menu-btn" class="fas fa-bars"></div>
            </div>
        </div>
    </header>
    <!-- Affichage du titre -->
    <h1><%= titre %></h1>
    <!-- Affichage de la description -->
    <p><%= description %></p>
    <h2>Enseignants</h2>
    <ul>
        <!-- Affichage des enseignants  -->
        <% enseignants.forEach(function(enseignant) { %>
            <li><%= enseignant %></li>
        <% }); %>
    </ul>
    <footer>
        
    </footer>

    <!-- <section class="title">
        <div class="box-container">
            <h1 class="heading">Titre du cours</h1>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </section>
    <section class="liste">
        <div class="box-container">
            <h1 class="heading">Liste des enseignants</h1>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </section> -->

    <footer>
        <!-- <span>Afficher le premier enseignant de la liste</span> -->
    </footer>
</body>
</html>