<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <form action="/login" method="post">
        <input type="text" name="prenom" planeceholder="Prénom" required>
        <input type="text" name="nom" placeholder="Nom" required>
        <input type="password" name="mdp" placeholder="Mot de passe" required>
        <!-- <input type="submit" value="Se connecter"> -->
        <button type="submit" class="registerbtn">Se connecter</button>
      </form>
    <a href="./register">Créer un compte</a>
</body>
</html>